# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Chrome Extension packaging
*.crx
*.pem

# Node modules (if you add any in the future)
node_modules/

# Distribution folder
dist/
